*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
.pg-owner-login-container {
    font-family:"Railway" , sans-serif;
    position: relative;
    margin-top: -1;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */

}
.login-frame-heading {
    position: absolute;
    top: 10%;
    width: fit-content;
    margin: 30px auto 0px 25% ;
    text-align: left;
    white-space: nowrap;
    color: #1D597D;
}

.pg-row {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    margin: 0px auto 50px auto;
    /* border: 2px solid black; */
    display: flex;
    padding: 10px;
}
.pg-owner-login-frame {
    width: 100%;
    /* border: 2px solid black; */
    padding: 10px;
   
}
.pg-owner-login-frame > .login-form{

    display: flex;
    flex-direction: column;
}
.pg-owner-login-frame > .login-form > input{
    margin-bottom: 2rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    height: 20px;
    width: 100%;
    border-bottom: 2px solid #67e1ff;
    background-color: transparent;
    padding: 1rem 0;
}
.pg-owner-login-frame > .login-form > input::placeholder{
    color: #808080;

}
.pg-owner-login-frame > .login-form > label{
    color: #3779a1;
    margin-top: 2rem;

}
.login-frame-button {
    display: flex;
    align-items: center;
}
.login-button {
    width: 100px;
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: #1D597D;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.fp {
    color:  #3779a1;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
}
.pg-owner-signup-frame {
    width: 100%;
    margin: 30px;
    /* border: 2px solid black; */
}


.pg-owner-signup-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
    background-color: #1D597D;
    color: white;
}
.signup-heading {
    margin-bottom: 5px;
}

.signup-frame-para{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.799);
}

.signup-button {
    width: 100px;
    margin:10px auto;
    padding: 5px;
    background-color: #67e1ff;
    color:#1D597D;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

